* {
  box-sizing: border-box;
  margin-left: 2%;
  margin-top: 0px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  background-color: rgb(17, 16, 44);
  color: white;
}

h1 {
  font-size: 2vw;
  margin-top: 5px;
}
em {
  font-size: 1.5vw;
}

p {
  font-size: 1.1vw;
}

h2 {
  font-size: 1vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

input {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  color: black;
  font-size: 1vw;
}

button {
  cursor: pointer;
  padding: 6px 20px;
  background-color: grey;
  font-size: 1vw;
  margin-top: 5px;
  color: white;
}
button:active {
  transform: scale(0.9);
}

#messageForm {
  border: 3px solid #168018;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
}

#watchtv-container {
  border: 3px solid white;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  margin-top: 5px;
  background-color: rgb(142, 163, 188);
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
