* {
  box-sizing: border-box;
  margin-left: 2%;
  margin-top: 0px;
  color: white;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  background-color: rgb(17, 16, 44);
}

h1 {
  font-size: 2.5vw;
  margin-top: 20px;
}
/*h1::first-letter {
    font-weight: bold;
    font-size: 30px;
  }*/
em {
  font-size: 2.5vw;
}

p {
  font-size: 1.5vw;
}

h2 {
  font-size: 1.25vw;
  margin-top: 20px;
  margin-bottom: 0px;
}

#messageForm {
  border: 3px solid #168018;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  box-sizing: border-box;
}

input {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  color: black;
  font-size: 1.25vw;
}

button {
  cursor: pointer;
  padding: 6px 20px;
  background-color: grey;
  font-size: 1vw;
}
button:active {
  transform: scale(0.9);
}

.watchtv-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  padding: 6px 20px;
  border: 2px solid rgb(97, 18, 18);
}
